{% extends "layout.html" %}

{% block head %}
<style>
    html,
    body {
        /* center the content */
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block main %}
<form>
    <button hx-get="/check" hx-swap="outerHTML"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition ease-in-out duration-150">
        Click Me
    </button>
</form>
{% endblock %}

