<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Connect the dots" />
    <link rel="icon" href="/static/favicon.png" />
    <title>{% block title %}Wirepin{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <header>{% block header %}{% endblock %}</header>

    <main role="main">
        {% block main %}
        {% endblock %}
    </main>

    <footer>{% block footer %}{% endblock %}</footer>
</body>

</html>
